<div class="contentsWrap contentsWrap01">
  <div class="page_title">
      <div class="breadcrumb">
          <div class="page_navi">
              <span>{{'COMMON.LABEL.REGISTER' | translate}}</span>
          </div>
          <h1>{{'Register5000.LABEL.PRODUCT_MANAGEMENT' | translate}}</h1>
      </div>

  </div>

  <div class="container01">
      <div class="tableWrap" id="grid_list">
          <kendo-grid scrollable="virtual" [data]="gridView" [sortable]="true" [sort]="sort" (sortChange)="sortChange($event)" [pageSize]="pageSize" [rowClass]="rowCallback" [skip]="skip" [pageable]="{
          buttonCount: buttonCount,
          info: info,
          type: type,
          pageSizes: pageSizes,
          previousNext: previousNext
        }" [height]="height" kendoGridSelectBy="productId" (pageChange)="pageChange($event)" class="table01" [selectedKeys]="mySelection">

        <ng-template kendoGridToolbarTemplate>
          <div class="form-row" style="width: 100%; border-left: none !important;">
            <div class="form-group col-md-8">
                <input type="text" style="height: 34px;" [ngClass]="search? 'active-input' : ''" class="form-control" [(ngModel)]="search" (input)="inputSearch($event)" placeholder="{{'Register5000.LABEL.SEARCH_BY_PRODUCT_NAME' | translate}}">
                <div class="in_box">
                    <button type="button" style="top: 5px;" (click)="onClickBtnSearch()" tabindex=-1 class="btn btn_del" tabindex=-1 tabindex=-1></button>
                </div>
            </div>

            <div class="form-group col-md-4">
              <button kendoGridExcelCommand class="export excel" type="button" style="width: 155px;" icon="file-excel" (click)="save(excelexport)">{{'COMMON.BUTTON.EXPORT_EXCEL' | translate}}</button>
              <button kendoGridPDFCommand class="pdf export" type="button" icon="file-pdf" style="float:right; width: 165px;">
                <span>{{'COMMON.BUTTON.EXPORT_PDF' | translate}}</span>
              </button>
            </div>
          </div>
        </ng-template>


          <kendo-grid-checkbox-column class="cen" [width]="45" [resizable]="false" [columnMenu]="false" showSelectAll="true"></kendo-grid-checkbox-column>

              <kendo-grid-column width="50" class="cen" [sortable]="false" field="no" title="{{'COMMON.LABEL.NO' | translate}}">
                  <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      <p>{{rowIndex + 1}}</p>
                  </ng-template>
              </kendo-grid-column>

              <kendo-grid-column width="50" class="cen" [sortable]="false" field="no" title="{{'COMMON.LABEL.NO' | translate}}">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <img [src]="url +'/'+ dataItem.resourceFileInfoId" class="rounded" alt="Grokonez-About Image" width="250px" height="auto">
                </ng-template>
            </kendo-grid-column>

              <kendo-grid-column width="150" class="subj" field="productName" title="{{'Register5000.LABEL.PRODUCT_NAME' | translate}}"></kendo-grid-column>
              <kendo-grid-column width="200" class="subj" field="subCategoryName" title="{{'Register5000.LABEL.SUB_CATEGORY_NAME' | translate}}"></kendo-grid-column>

              <kendo-grid-column width="300" class="subj" field="description" title="{{'Home2000.LABEL.DESCRIPTION' | translate}}"></kendo-grid-column>

              <kendo-grid-column width="100" class="cen" [sortable]="false" field="edit" title="{{'COMMON.BUTTON.EDIT' | translate}}">
                  <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      <button type="button" tabindex=-1 class="btn_edit01" id="rowIndex" (click)="clickEdit(dataItem)"><span>{{'COMMON.BUTTON.EDIT' | translate}}</span></button>
                  </ng-template>
              </kendo-grid-column>

              <kendo-grid-column width="200" class="cen" [sortable]="false" field="edit" title="{{'COMMON.BUTTON.ADD_IMG' | translate}}">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <button type="button" style="margin-right: 5px;" tabindex=-1 class="btn_edit01" id="rowIndex" (click)="addImage(dataItem)"><span>add</span></button>

                    <button type="button" tabindex=-1 class="btn_edit01" id="rowIndex" (click)="addImage(dataItem)"><span>edit</span></button>
                    <span>image</span>
                </ng-template>
            </kendo-grid-column>

               <!-- pdf -->
               <kendo-grid-pdf fileName="Product.pdf" [allPages]="true" paperSize="A5" [repeatHeaders]="true" [landscape]="true">
                <!-- <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin> -->
                <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
                 <div class="page-template">
                    <div class="header">
                      <div style="float: right">{{'COMMON.LABEL.PAGE_OF_TOTAL' | translate: {pageNum:pageNum, totalPages: totalPages } }}</div>
                    </div>
                  </div>
                </ng-template>
            </kendo-grid-pdf>

              <!-- excele -->
              <kendo-excelexport [data]="data" fileName="Product.xlsx" #excelexport>
                <kendo-excelexport-column field="id" title="{{'COMMON.LABEL.NO' | translate}}"></kendo-excelexport-column>
                <kendo-excelexport-column field="productName" title="{{'Register5000.LABEL.PRODUCT_NAME' | translate}}" ></kendo-excelexport-column>
                <kendo-excelexport-column field="subCategoryName" title="{{'Register5000.LABEL.SUB_CATEGORY_NAME' | translate}}"></kendo-excelexport-column>

                <kendo-excelexport-column field="description" title="{{'Home2000.LABEL.DESCRIPTION' | translate}}"></kendo-excelexport-column>
            </kendo-excelexport>

          </kendo-grid>
      </div>

      <!-- <img [src]="bizServer +'/api/file/images/resources/'+ 'bd1c4a92-8cfe-4c33-ab6f-da4e941c5e94'" class="rounded" alt="Grokonez-About Image" width="250px" height="auto">
      <img [src]="bizServer +'/api/file/images/resources/'+ '1df8f4a6-629c-49b4-8302-265d37b91ba8'" class="rounded" alt="Grokonez-About Image" width="250px" height="auto"> -->
      <div class="table_control">
          <div class="btn_area">
              <button type="button" tabindex=-1 class="btn03 r"><span>{{'COMMON.BUTTON.DELETE' | translate}}</span></button>
          </div>
      </div>

      <div class="c_btn">
          <div class="add-btn btn-css" (click)="REGISTER()">
            <span>{{'COMMON.LABEL.ADD_NEW' | translate}}</span>
          </div>
      </div>

  </div>

</div>
