<div class="contentsWrap">
  <div class="container01">
      <div class="web_container">
          <!-- header -->
          <div class="pop_header">
              <h1>{{'Home2100.LABEL.REGISTER_COMPANY' | translate}}</h1>
              <button type="button" tabindex=-1 class="btn_popclose" (click)="close()"><span>close</span></button>
          </div>
          <!-- //header -->
          <div class="web_Wrap">

              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label>{{'Home2100.LABEL.COMPANY_NAME' | translate}}</label>
                      <input #inputCompayName type="text" [ngClass]="cName?'active-input':''" [(ngModel)]="cName" class="form-control" placeholder="{{'Home2100.PLACE_HOLDER.ENTER_COMPANY_NAME' | translate}}">

                      <div class="in_box">
                          <button (click)="onClickBntCross('name')" [ngClass]="cName?'btn_del':''" type="button" tabindex=-1 class="btn" tabindex=-1 tabindex=-1></button>
                      </div>

                  </div>

                  <div class="form-group col-md-6">
                      <label for="inputPassword4">{{'Home2100.LABEL.CONTACT' | translate}}</label>
                      <input #inputContact type="text" [ngClass]="cContact?'active-input':''" [(ngModel)] = "cContact" (input)="keyupContact($event)" placeholder="{{'Home2100.PLACE_HOLDER.ENTER_CONTACT' | translate}}" class="form-control">

                      <div class="in_box">
                          <button (click)="onClickBntCross('contact')" type="button" [ngClass]="cContact?'btn_del':''" tabindex=-1 class="btn" tabindex=-1 tabindex=-1><span>Delete text</span></button>
                      </div>

                  </div>
              </div>



              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label>{{'Home2100.LABEL.EMAIL' | translate}}</label>
                      <input #inputEmail type="text" [ngClass]="cEmail?'active-input':''" (keyup)="keyupEmail('cemail')" [(ngModel)]="cEmail" placeholder="{{'Home2100.PLACE_HOLDER.ENTER_EMAIL' | translate}}" class="form-control">

                      <div class="in_box">
                          <button (click)="onClickBntCross('email')" type="button" [ngClass]="cEmail?'btn_del':''" tabindex=-1 class="btn" tabindex=-1 tabindex=-1><span>Delete text</span></button>
                      </div>

                  </div>

                  <div class="form-group col-md-6">
                      <label>{{'Home2100.LABEL.ADDRESS' | translate}}</label>
                      <input #inputAddress type="text" [ngClass]="cAddress?'active-input':''" [(ngModel)]="cAddress" placeholder="{{'Home2100.PLACE_HOLDER.ENTER_ADDRESS' | translate}}" class="form-control">

                      <div class="in_box">
                          <button (click)="onClickBntCross('address')" type="button" [ngClass]="cAddress?'btn_del':''" tabindex=-1 class="btn" tabindex=-1 tabindex=-1><span>Delete text</span></button>
                      </div>

                  </div>

              </div>

              <div class="form-row">
                  <div class="form-group form-group-last col-md-12">
                      <label>{{'Home2100.LABEL.DESCRIPTION' | translate}}</label>
                      <input type="text" [ngClass]="cDescription?'active-input':''" [(ngModel)]="cDescription" placeholder="{{'Home2100.PLACE_HOLDER.ENTER_DESCRIPTION' | translate}}" class="form-control">
                      <div class="in_box">
                          <button (click)="onClickBntCross('descr')" type="button" [ngClass]="cDescription?'btn_del':''" tabindex=-1 class="btn" tabindex=-1 tabindex=-1><span>Delete text</span></button>
                      </div>

                  </div>
              </div>

          </div>

      </div>


      <div class="c_btn">

          <div class="add-close  btn-css margin-right-btn-clos" (click)="close()">
              <span>{{'COMMON.BUTTON.CLOSE' | translate}}</span>
          </div>

          <div class="iam-btn-container mbr_introContent" style="display: inline-block;">
            <button class="iam-button save" (click)="SAVE()">{{'COMMON.BUTTON.SAVE' | translate}}</button>
          </div>

      </div>
  </div>
</div>
