<p>error4 works!</p>

<div class="systemError">
    <h1>{{'ANNOUNCE.COMPANY' | translate}}</h1>
    <!-- PPCBank smartBiz -->
    <div class="msgbox">
        <h2 class="tit">{{'ANNOUNCE.TITLE' | translate}}</h2>
        <!-- Sorry -->
        <p>
            <strong>{{'ANNOUNCE.ERROR4.LINE1' | translate}}</strong>
            <!-- We can't seem to find the page -->
            <strong>{{'ANNOUNCE.ERROR4.LINE2' | translate}}</strong>
            <!-- you're looking for. -->
        </p>

        <div class="c_btn"><button type="button" tabindex=-1 class="btn01 st02"><span>{{'ANNOUNCE.BUTTON' | translate}}</span></button></div>
        <!-- Go to home -->
    </div>
</div>